In [4]:
import warnings
warnings.filterwarnings("ignore")
import pyodbc 
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=MSI;'
                      'Database=DATAPORTFOLIO;'
                      'Trusted_Connection=yes;')

In [5]:
import pandas as pd
sql_query = pd.read_sql_query('''
                              select * from DATAPORTFOLIO.dbo.WAKE_COUNTY_HOUSING_DATA
                              '''
                              ,conn) # here, the 'conn' is the variable that contains your database connection information from step 2

df = pd.DataFrame(sql_query)

In [6]:
df

,F1,SITE_ADDRE,CITY,ZIP_CODE,ZONING,SALE_PRICE,SALE_DATE,BILLING_CLASS,YEAR_BUILT,UNITS,DESIGN_STYLE
0,25136.0,3902 STRATFORD CT,RALEIGH,27609.0,R-2,576000.0,2014-11-14,2.0,1968.0,1.0,A
1,25137.0,927 HILLVIEW DR,CARY,27511.0,R12,78000.0,1987-02-06,2.0,1963.0,1.0,A
2,25138.0,320 KILLINGTON DR,RALEIGH,27609.0,R-4,154000.0,2006-11-16,2.0,1968.0,1.0,A
3,25139.0,810 OAKLEY CT,CARY,27511.0,R12,107500.0,1996-10-25,2.0,1968.0,1.0,I
4,25142.0,2680 JOHN ADAMS RD,WILLOW SPRING,27592.0,R-30,21500.0,1975-01-01,2.0,1968.0,1.0,A
...,...,...,...,...,...,...,...,...,...,...,...
348158,411743.0,1528 COMMONS FORD PL,APEX,27539.0,R12CU,900500.0,2022-10-21,2.0,2022.0,1.0,A
348159,411744.0,1600 COMMONS FORD PL,APEX,27539.0,R12CU,863000.0,2022-11-16,2.0,2022.0,1.0,A
348160,411745.0,1604 COMMONS FORD PL,APEX,27539.0,R12CU,701000.0,2022-07-22,2.0,2022.0,1.0,A
348161,411746.0,1608 COMMONS FORD PL,APEX,27539.0,R12CU,668000.0,2022-08-12,2.0,2022.0,1.0,A
348162,411747.0,1612 COMMONS FORD PL,APEX,27539.0,R12CU,645500.0,2022-04-28,2.0,2022.0,1.0,A